.idea
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
Learning/learning/data
Learning/static/Learning/assets/accuracy_curve
Learning/static/Learning/assets/loss_curve
Learning/static/Learning/assets/log
db.sqlite3