.log-container {
    margin: 1em auto;
    text-align: center;
    width: 75%;
}

.log-content {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .125);
    padding: .5em 4em;
    text-align: left;
}