.log-container {
    margin: 1em auto;
    text-align: center;
    width: 75%;
}

.log-content {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: .5em;
    padding: .5em 5em;
    text-align: left;
    white-space: pre-line;
}