.task_list-container {
    margin: 1em auto;
    text-align: center;
}

.task_list-container {
    width: 90%;
}

th, td {
    text-align: center;
    vertical-align: middle;
    word-break: break-all;
}

th:nth-child(1) {
    width: 1em;
}

th:nth-child(3) {
    width: 4em;
}

th:nth-child(4), th:nth-child(6) {
    width: 9.5em;
}

th:nth-child(5) {
    width: 5.5em;
}

th:nth-child(7) {
    width: 5em;
}

th:nth-child(8) {
    width: 12em;
}

.wait {
    color: silver;
}

.train {
    color: #ffc107;
}

.success {
    color: #198754;
}

.failure {
    color: #dc3545;
}

.switch {
    text-decoration: none;
}
