.container {
    width: 960px;
}

header {
    display: flex;
    align-items: center;
}

h1 {
    flex-grow: 1;
}

.logo {
    height: 128px;
}

.avatar {
    border: 1px solid #eee;
    display: block;
    margin: 0 auto;
    padding: 2px;
    border-radius: 50%;
    transition: transform 1s ease-in-out;
}

.avatar:hover {
    transform: rotate(360deg);
}

header .avatar {
    max-width: 5em;
    max-height: 5em;
}

.controller {
    text-align: center;
}

footer {
    border-top: 1px solid #dee2e6;
    padding-top: .3em;
    text-align: center;
    margin-bottom: 1em;
}