.table .log-container, .table .result-container {
    display: none;
}

.log .table-container, .log .result-container {
    display: none;
}

.result .table-container, .result .log-container {
    display: none;
}

.table-container, .log-container, .result-container {
    width: 90%;
    margin: 1em auto;
    text-align: center;
}

.log {
    display: inline-block;
    text-align: left;
    white-space: pre-line;
    padding: .5em;
    margin-bottom: .5em;
    border: 1px solid rgba(0,0,0,.125);
}

th, td {
    text-align: center;
}

.wait {
    color: silver;
}

.train {
    color: #ffc107;
}

.success {
    color: #198754;
}

.failure {
    color: #dc3545;
}

.controller {
    text-align: center;
}

.switch {
    text-decoration: none;
}

.disabled {
    color: gray;
}

.disabled:hover {
    color: gray;
    cursor: not-allowed;
}