.table .log-container, .table .result-container {
    display: none;
}

.log .table-container, .log .result-container {
    display: none;
}

.result .table-container, .result .log-container {
    display: none;
}

.table-container, .log-container, .result-container {
    width: 90%;
    margin: 1em auto;
    text-align: center;
}

th, td {
    text-align: center;
}

.train {
    color: #ffc107;
}

.success {
    color: #198754;
}

.failure {
    color: #dc3545;
}

.page-controller {
    text-align: center;
}

.switch {
    text-decoration: none;
}

.disabled {
    color: gray;
}

.disabled:hover {
    color: gray;
    cursor: not-allowed;
}