.table-container, .log-container, .result-container {
    margin: 1em auto;
    text-align: center;
}

.table-container {
    width: 90%;
}

.log-container, .result-container {
    width: 75%;
}

.log-content, .result-content {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: .5em;
}

.log-content {
    padding: .5em 5em;
    text-align: left;
    white-space: pre-line;
}

.result-content {
    padding: 1em 5em .5em 5em;
    text-align: center;
}

.image-card {
    width: 75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1em auto 3em;
}

th, td {
    text-align: center;
}

.wait {
    color: silver;
}

.train {
    color: #ffc107;
}

.success {
    color: #198754;
}

.failure {
    color: #dc3545;
}

.controller {
    text-align: center;
}

.switch {
    text-decoration: none;
}

.disabled {
    color: gray;
}

.disabled:hover {
    color: gray;
    cursor: not-allowed;
}